main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  h1 {
    margin-bottom: 40px;

    @media (width <= 767px) {
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }

  h3,
  span {
    text-align: center;
  }

  span {
    font-size: 4rem;
    display: block;

    @media (width <= 767px) {
      font-size: 2rem;
    }
  }

  .text {
    padding: 20px;
  }
}
